:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.1;

	color-scheme: light;
	color: #333;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@layer components {
	.special-border {
		inset: 0px;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: xor;
		@apply pointer-events-none absolute content-[''];
	}
}
@tailwind utilities;
@layer utilities {
	.special-border-gradient {
		background-image: radial-gradient(
			circle at top right,
			#00d8ff43 0%,
			transparent 50%
		);
	}
}
